body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: plum;
}

img {
    max-width: 150px;
    float: left;
}

h1 {
    color: peachpuff;
    background-color: palevioletred;
}

p {
    background-color: pink;
    color: azure;
    text-align: justify;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

dl {
    margin-top: 3%;
    background-color: palevioletred;
}

dt {
    font-weight: bold;
    font-size: 1.15rem;
    color: peachpuff;
}

dd {
    color: paleturquoise;
}