body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    max-width: 150px;
    float: left;
}

p {
    text-align: justify;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

dl {
    margin-top: 3%;
}

dt {
    font-weight: bold;
    font-size: 1.15rem;
}