body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: plum;
}

.container {
    width: 100%;
    margin-bottom: 5%;
}

img {
    max-width: 150px;
    height: auto;
    float: left;
    padding: 0 15px 10px 0;
}

h1 {
    color: peachpuff;
    background-color: palevioletred;
    padding: 1%;
}

p {
    color: aliceblue;
    margin-left: 10%;
    margin-right: 15%;
}

dl {
    background-color: palevioletred;
    clear: both;
    padding: 1%;
}

dt {
    font-weight: bold;
    font-size: 1.15rem;
    color: peachpuff;
}

dd {
    color: paleturquoise;
    margin-left: 0%;
}